.production-list {
    > ul {
        list-style-type: none;
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        > li {
            button {
                padding: 0;
                font-size: 1rem;
                border: none;
                background: none;
            }
        }
        &:empty {
            display: none;
        }
    }
}